################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
_logs/
_resources/
_docs/
packages/
*.user
_publish/
/CanadaPoker/.vs/CanadaPoker/DesignTimeBuild/.dtbcache.v2
.vs/
**/obj/[Dd]ebug/